body{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    background-color: #4f74cb; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
    padding: 15px 30px; /* Spacing inside the button */
    font-size: 18px; /* Larger text */
    font-weight: bold; /* Bold text */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and scale */
}