body{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    background-color: #4f74cb; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    font-size: 18px; 
    font-weight: bold; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}